@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/** css reset **/
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
}

/** site styles **/

:root {
  --primary-blue: #194488;
  --secondary-blue: #0F336A;
  --primary-white: #FFFFFF;
  --light-gray: #BBBBBB;
  --primary-orange: #E19840;
  --primary-black: #555555;
}

html,
body {
  height: 100%;
  font-size: 14px;
  color: var(--primary-black);
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex: 1;

  & aside {
    --transition-duration: 0.3s;
    --transition-function: ease-out;
    width: 200px;
    background-color: var(--primary-blue);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    transition-property: width;
    transition-timing-function: var(--transition-function);
    transition-duration: var(--transition-duration);
    flex-shrink: 0;

    & .top-container {
      --sub-container-height: 60px;
      display: flex;
      flex-direction: column;
      width: 100%;
      overflow: hidden;
      flex-shrink: 0;

      & .logo-container {
        padding: 1.5rem 1rem 0rem 1rem;
        position: relative;
        height: var(--sub-container-height);

        & img {
          position: absolute;
          left: 16px;
        }

        & .expanded {
          opacity: 1;
          min-width: 127px;
          height: 32px;
        }

        & .collapsed {
          opacity: 0;
          height: 30px;
        }

        & .expanded,
        & .collapsed {
          transition-property: opacity;
          transition-timing-function: var(--transition-function);
          transition-duration: var(--transition-duration);
        }
      }

      & .user-container {
        display: flex;
        width: 100%;
        height: var(--sub-container-height);
        gap: 0.5rem;
        align-items: center;
        padding: 0 1rem;
        flex-shrink: 0;

        & img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          flex-shrink: 0;
        }

        & .user-name {
          color: var(--primary-white);
          font-family: Roboto;
          font-size: 0.8125rem;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 0.00206rem;
          text-wrap: nowrap;
        }

        & .user-role {
          display: flex;
          align-items: center;
          color: var(--primary-white);
          font-family: Roboto;
          font-size: 0.75rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 0.00188rem;
          text-wrap: nowrap;
        }

        & .user-name,
        & .user-role {
          transition-property: opacity;
          transition-timing-function: var(--transition-function);
          transition-duration: var(--transition-duration);
        }

        & .user-role:hover,
        & .user-role:hover svg {
          cursor: pointer;
          color: var(--primary-orange);
          fill: var(--primary-orange);
        }
      }

      & .search-container {
        height: var(--sub-container-height);
        position: relative;
        padding: 0 1rem;

        .search-input {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 168px;
          transition-property: opacity;
          transition-timing-function: var(--transition-function);
          transition-duration: var(--transition-duration);

          & input {
            height: 2rem;
            padding: 0.4375rem 1.75rem 0.4375rem 0.75rem;
            border-radius: 0.3125rem;
            border: 0px solid var(--light-gray);
            background: var(--primary-white);
            color: var(--primary-black);
            width: 100%;
          }

          & svg {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0.5rem;
          }

          & input::placeholder {
            color: var(--light-gray);
            font-style: italic;
            font-family: Roboto;
            font-size: 0.8125rem;
            font-weight: 400;
            line-height: 1rem;
            letter-spacing: 0.00206rem;
          }

          & input:focus {
            outline: none;
          }
        }

        & .search-icon {
          position: absolute;
          height: 42px;
          width: 42px;
          left: 16px;
          top: 50%;
          transform: translateY(-50%);
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px;
          transition-property: opacity;
          transition-timing-function: var(--transition-function);
          transition-duration: var(--transition-duration);
          opacity: 0;
          border-radius: 50%;
        }

        & .search-icon svg {
          fill: var(--primary-white);
        }

        & .search-icon:hover {
          background-color: var(--secondary-blue);
        }

        & .search-icon:hover svg {
          fill: var(--primary-orange);
        }
      }

      & .end-user-nav-container {
        & .end-user-navigation {
          --link-hover-transition-time: 0.2s;

          & li {
            height: var(--sub-container-height);
          }

          & a,
          & button {
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            gap: 0.5rem;
            padding-left: 1rem;
            transition: all var(--link-hover-transition-time) ease-in;
            position: relative;
          }

          & a span,
          & button span {
            color: var(--primary-white);
            font-family: "Roboto Condensed";
            font-size: 1.0625rem;
            font-style: normal;
            font-weight: 700;
            line-height: 1rem;
            letter-spacing: 0.00269rem;
            text-transform: uppercase;
          }

          & a svg,
          & button svg {
            flex-shrink: 0;
            fill: var(--primary-white);
            transition: fill var(--link-hover-transition-time) ease-in;
          }

          .svg-wrapper {
            border-radius: 50%;
            padding: 10px;
            transition: fill var(--link-hover-transition-time) ease-in;
            height: 42px;
            width: 42px;
          }

          & a:hover,
          & button:hover {
            background-color: var(--secondary-blue);
          }

          & a:hover svg,
          & button:hover svg {
            fill: var(--primary-orange);
          }

          & button .chevron {
            right: 1rem;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
          }

          & a span,
          & button span,
          & button .chevron {
            transition-property: opacity;
            transition-timing-function: var(--transition-function);
            transition-duration: var(--transition-duration)
          }
        }
      }
    }

    & .bottom-container {
      height: 110px;
      position: relative;
      flex-shrink: 0;

      & #adminButton,
      & #endUserCollapseButton,
      & #helpButton,
      & #statusButton {
        position: absolute;
        padding: 10px;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--primary-white)
      }

      & #adminButton:hover,
      & #endUserCollapseButton:hover,
      & #helpButton:hover,
      & #statusButton:hover {
        background-color: var(--secondary-blue);
        color: var(--primary-orange);
      }

      & #adminButton {
        left: 80px;
        bottom: 70px;
        transition-property: bottom, left;
        transition-timing-function: var(--transition-function);
        transition-duration: var(--transition-duration)
      }

      & #endUserCollapseButton {
        left: 16px;
        bottom: 20px;
        transform: rotate(180deg);
        transition-property: transform;
        transition-timing-function: var(--transition-function);
        transition-duration: var(--transition-duration)
      }

      & #helpButton {
        left: 80px;
        bottom: 20px;
        transition-property: bottom, left;
        transition-timing-function: var(--transition-function);
        transition-duration: var(--transition-duration)
      }

      & #statusButton {
        left: 144px;
        bottom: 20px;
        transition-property: bottom, left;
        transition-timing-function: var(--transition-function);
        transition-duration: var(--transition-duration)
      }
    }

    &.collapsed {
      width: 70px;

      & .top-container {
        & .logo-container {

          & .expanded {
            opacity: 0;
          }

          & .collapsed {
            opacity: 1;
            width: calc(70px - 32px);
          }
        }

        & .user-container {
          display: flex;
          width: 100%;
          gap: 0.5rem;
          align-items: center;
          padding: 0 15px;

          & .user-name,
          & .user-role {
            opacity: 0;
          }
        }

        & .search-container {
          & .search-input {
            opacity: 0;
          }

          & .search-icon {
            opacity: 1;
          }
        }

        & .end-user-nav-container {
          & .end-user-navigation {

            & a,
            & button {
              cursor: auto;
            }

            & a span,
            & button span,
            & button .chevron {
              opacity: 0;
            }

            .svg-wrapper {
              opacity: 1;
              cursor: pointer;
            }

            & a:hover,
            & button:hover {
              background-color: inherit;
            }

            & a:hover svg,
            & button:hover svg {
              background-color: inherit;
              fill: var(--primary-white);
            }

            & .svg-wrapper:hover {
              background-color: var(--secondary-blue);
            }

            & .svg-wrapper:hover svg {
              fill: var(--primary-orange);
            }
          }
        }
      }

      & .bottom-container {
        height: 210px;

        & #adminButton {
          left: 16px;
          bottom: 170px;
        }

        & #endUserCollapseButton {
          transform: rotate(360deg);
        }

        & #helpButton {
          left: 16px;
          bottom: 120px;
        }

        & #statusButton {
          left: 16px;
          bottom: 70px;
        }
      }
    }
  }

  & main {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-x: auto;

    & .admin-navigation {
      --icon-container-size: 40px;
      --icon-svg-size: 16px;
      --transition-function: ease-out;
      --transition-duration: 0.3s;
      height: 77px;
      display: flex;
      justify-content: space-between;
      background-color: var(--secondary-blue);
      padding: 0.75rem 1.5rem;
      gap: 22px;
      min-width: max-content;
      transition-property: height, padding;
      transition-timing-function: var(--transition-function);
      transition-duration: var(--transition-duration);

      & .label {
        color: var(--primary-white);
        text-align: center;
        font-family: Roboto;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        text-transform: capitalize;
      }

      & .areas-container {
        --grid-columns-template: repeat(12, 1fr);
        --grid-columns-gap: 22px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        & .icons-container {
          display: grid;
          grid-template-columns: var(--grid-columns-template);
          place-items: center;
          gap: var(--grid-columns-gap);
          transform-origin: left;

          & .icon-container a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: var(--icon-container-size);
            width: var(--icon-container-size);
            border-radius: 50%;
          }

          & .icon-container svg {
            height: var(--icon-svg-size);
            width: var(--icon-svg-size);
            fill: var(--primary-white);
          }

          & .icon-container a:hover {
            background-color: var(--primary-blue);
          }

          & .icon-container a:hover svg {
            fill: var(--primary-orange);
          }
        }

        & .text-container {
          display: grid;
          grid-template-columns: var(--grid-columns-template);
          place-items: center;
          gap: var(--grid-columns-gap);
        }
      }

      & .actions-container {
        --grid-columns-template: repeat(2, 1fr);
        --grid-columns-gap: 15px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        & .icons-container {
          display: grid;
          grid-template-columns: var(--grid-columns-template);
          place-items: center;
          gap: var(--grid-columns-gap);

          & .icon-container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: var(--icon-container-size);
            width: var(--icon-container-size);
            border-radius: 50%;
          }

          & .icon-container svg {
            height: var(--icon-svg-size);
            width: var(--icon-svg-size);
            fill: var(--primary-white);
          }

          & .icon-container:hover {
            background-color: var(--primary-blue);
          }

          & .icon-container:hover svg {
            fill: var(--primary-orange);
          }

          #adminCollapseButton {
            transition-property: transform;
            transition-timing-function: var(--transition-function);
            transition-duration: var(--transition-duration);
          }
        }

        & .text-container {
          display: grid;
          grid-template-columns: var(--grid-columns-template);
          place-items: center;
          gap: var(--grid-columns-gap);
        }
      }

      &.collapsed {
        height: 41px;
        padding: 0rem 1.5rem;

        & .areas-container {
          & .icons-container {
            animation-name: shrink-areas-icons-container;
            animation-timing-function: var(--transition-function);
            animation-duration: var(--transition-duration);
            animation-fill-mode: forwards;
          }
        }

        & .actions-container {
          & .icons-container {
            animation-name: shrink-actions-icons-container;
            animation-timing-function: var(--transition-function);
            animation-duration: var(--transition-duration);
            animation-fill-mode: forwards;

            #adminCollapseButton {
              transform: rotate(-180deg);
            }
          }
        }
      }

      &.expanded {
        & .areas-container {
          & .icons-container {
            animation-name: expand-areas-icons-container;
            animation-timing-function: var(--transition-function);
            animation-duration: var(--transition-duration);
            animation-fill-mode: forwards;
          }
        }

        & .actions-container {
          & .icons-container {
            animation-name: expand-actions-icons-container;
            animation-timing-function: var(--transition-function);
            animation-duration: var(--transition-duration);
            animation-fill-mode: forwards;
          }
        }
      }
    }
  }
}

@keyframes shrink-areas-icons-container {
  0% {
    transform: scale(1);
    gap: 22px;
  }

  100% {
    transform: scale(0.85);
    gap: 0px;
  }
}

@keyframes expand-areas-icons-container {
  0% {
    transform: scale(0.85);
    gap: 0px;
  }

  100% {
    transform: scale(1);
    gap: 22px;
  }
}

@keyframes shrink-actions-icons-container {
  0% {
    transform: scale(1);
    gap: 15px;
  }

  100% {
    transform: scale(0.85);
    gap: 0px;
  }
}

@keyframes expand-actions-icons-container {
  0% {
    transform: scale(0.85);
    gap: 0px;
  }

  100% {
    transform: scale(1);
    gap: 15px;
  }
}